---
---

@import "{{ site.theme }}";

.main-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #000;
    }

    p, li {
      color: #222;
      font-size: 90%;
    }
}
.page-header {
  color: #fff;
  text-align: center;
  background-color: #000;
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-name, .project-tagline {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.btn {
  color: rgb(0,0,0);
  background-color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.2);
}

.main-content {
  max-width: 80rem;
}
