---
---

@import "{{ site.theme }}";

.main-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #000;
    }
}
.page-header {
  color: #000;
  text-align: center;
  background-color: #000;
  background-image: none;
}
